$primary-color: #607D8B !default;
$dark-primary-color: #455A64 !default;
$light-primary-color: #CFD8DC !default;
$accent-color: #9E9E9E !default;
$primary-text-color: #212121 !default;
$secondary-text-color: #757575 !default;
$divider-color: #BDBDBD !default;
$text-icons-color: #FFFFFF !default;
$button-primary-success: #4CAF50 !default;
$button-primary-danger: #F44336 !default;
$button-primary-warning: #FFC107 !default;
$primary-sucess-color: #4CAF50 !default;
$primary-danger-color: #F44336 !default;
$primary-warning-color: #FFC107 !default;
$input-focus-border-color: $primary-color !default;